<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CampusAI - AI Powered College Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="chat-container">

    <div class="header">

        <div>

            <h1>🎓 CampusAI</h1>

            <p>AI Powered College Assistant</p>

        </div>

       <div class="status">
        <span class="dot"></span>
        AI Ready
       </div>
    </div>

    <div class="features">

        Admissions • Scholarships • Hostel • Fees • Courses • Placements • Exams

    </div>

    <div id="chat-box">

        <div class="bot-message">

👋 <strong>Welcome to CampusAI!</strong>

<br><br>

I'm your AI-powered college assistant.

<br><br>

I can help you with:

<ul>

<li>🎓 Admissions</li>

<li>🏠 Hostel</li>

<li>💰 Fees & Scholarships</li>

<li>📚 Library</li>

<li>📖 Courses</li>

<li>💼 Placements</li>

<li>📝 Exams & Results</li>

</ul>

</div>

    </div>

    <div class="input-area">

        <input
            type="text"
            id="message"
            placeholder="Ask anything about your college..."
            autocomplete="off"
        >

        <button onclick="sendMessage()">

 <i class="fa-solid fa-arrow-right"></i>


</button>

    </div>

    <div class="footer">

        Built with ❤️ using Python • Flask • Scikit-learn • TF-IDF • Logistic Regression
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>